@model IEnumerable<CommunityAssist2018w.Models.GrantType>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Community Assist Resources and Grants</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.GrantTypeKey)</th>
            <th>@Html.DisplayNameFor(model => model.GrantTypeDescription)</th>
            <th>@Html.DisplayNameFor(model => model.GrantTypemaximum)</th>
            <th>@Html.DisplayNameFor(model => model.GrantTypeLifetimeMaximum)</th>
            <th>@Html.DisplayNameFor(model => model.GrantTypeDateEntered)</th>

        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(model => item.GrantTypeKey)</td>
            <td>@Html.DisplayFor(model => item.GrantTypeDescription)</td>
            <th>@Html.DisplayFor(model => item.GrantTypemaximum)</th>
            <th>@Html.DisplayFor(model => item.GrantTypeLifetimeMaximum)</th>
            <th>@Html.DisplayFor(model => item.GrantTypeDateEntered)</th>
        </tr>
        }
    </table>
</div>